h1{
	font-family: monospace;
	font-size: 28px;
}
.container{
	padding-top: 60px;

}
.card{
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 0;
	float: left;
}

/* shopping cart */
.cart-view{
	float: right;
	background-color: white;
    padding: 5px;
    margin-bottom: 10px;
}
.cart-view a{
	font-size: 15px;
	text-decoration: none;
}
.icart{
	content: url('../images/cart.png');
	vertical-align: top;
}
.deletepizza{
	content: url('../images/delete.png');
	vertical-align: top;
}

.cart, .checkout{width: 100%;}
.cart input[type="number"]{width: 75px;}
.checkout h4{
	font-size: 18px;
	font-weight: 500;
}

/* order status */
.ord-addr-info{
	background-color: #fff;
    border-radius: 2px;
	background-color: #f1f1f1;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	margin: 16px 0;
    padding: 0;
	width: 100%;
	padding: 24px;
}
.ord-addr-info .hdr{
	font-size: 18px;
    font-weight: 500;
	padding-bottom: 10px;
	color: #646464;
}
.ord-addr-info  p{
	float: left;
	width: 100%;
	font-size: 16px;
}
p.help-block{
	font-size: 13px;
}
.success{color:#0EAD03;}
.error{color:#D70000;}

/*footer*/

i {
	color: #ffc371;
}

.form-control::placeholder {
	font-size: 0.95rem;
	color: #aaa;
	font-style: italic;
}

.form-control.shadow-0:focus {
	box-shadow: none;
}